// Varaibles
$item-count: 101;
$item: 1 / $item-count;

.box {
  height: 90px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 700px;
  mask-image: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 10%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 1) 60%,
    rgba(255, 255, 255, 0) 90%,
    rgba(255, 255, 255, 0) 100%);
}

ul {
  transform: translateY(-20px);
  margin: 0;
  padding: 0;
  font-size: 25px;
  li {
    border-style: groove;
    border-color: rgba(255,255,255,0);
    opacity: 1;
    height: 40px;
    list-style: none; 
    overflow: hidden;
    min-width: 0
  }
}

.animate {
  animation: scrollUp 10s 0.15s forwards;
}

.reset {
    transform: translateY(-20px);
}

.level {
    display: flex;
    align-items: bottom;
    height: 100%;
    display:inline;
    float: left;
    text-align:right;
    overflow: hidden;
    padding-right: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 60px;
}

.empty {
    border-style: none;
}

.SPH {
    color: rgb(255, 187, 0, 0.87);
    background-color: rgb(255, 255, 255, 0.125);
}

.SPA {
    color: rgba(255, 0, 0, 0.87);
    background-color: rgb(255, 255, 255, 0.125);
}

.SPL {
    color: rgba(183, 0, 255, 0.87);
    background-color: rgb(255, 255, 255, 0.125);
}

.title {
    display: flex;
    align-items: bottom;
    height: 100%;
    float: left;
    text-align:left;
    padding-left: 10px;
    text-overflow: ellipsis;
    width: 400px;
    background-color: rgb(255, 255, 255, 0.0125);
}

.gauge {
    display: flex;
    align-items: bottom;
    float: right;
    height: 100%;
    text-align: left;
    padding-left: 10px;
    text-overflow: ellipsis;
    width: 200px;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scrollUp {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY((90px) * ($item-count - 1));
  }
}