// Varaibles
$item-count: 101;
$item: 1 / $item-count;

.box {
  height: 90px;
  margin: auto;
  overflow: hidden;
  position: relative;
  &::before {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    content: '';
    height: 10px;
    position: absolute;
  }
  &::after {
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    content: '';
    height: 10px;
    position: absolute;
  }
}

ul {
  transform: translateY(-20px);
  margin: 0;
  padding: 0;
  font-size: 25px;
  li {
    border-style: groove;
    opacity: 1;
    height: 40px;
    list-style: none; 
    overflow: hidden;
  }
}

.animate {
  animation: scrollUp 10s 0.15s forwards;
}

.reset {
    transform: translateY(-20px);
}

.level {
    display: flex;
    align-items: center;
    height: 100%;
    display:inline;
    float: left;
    text-align:right;
    padding-right:10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 60px;
}

.empty {
    border-style: none;
}

.SPH {
    color: rgb(255, 187, 0, 0.87);
    background-color: rgb(255, 255, 255, 0.125);
}

.SPA {
    color: rgba(255, 0, 0, 0.87);
    background-color: rgb(255, 255, 255, 0.125);
}

.SPL {
    color: rgba(183, 0, 255, 0.87);
    background-color: rgb(255, 255, 255, 0.125);
}

.title {
    display: flex;
    align-items: center;
    height: 100%;
    float: right;
    text-align:left;
    padding-left: 10px;
    width: 600px;
    background-color: rgb(255, 255, 255, 0.0125);
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scrollUp {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY((-4233px / $item-count) * ($item-count - 1));
  }
}