// Varaibles
$item-count: 101;
$item: 1 / $item-count;

.gaugeWheelBox {
  height: 90px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 300px;
  mask-image: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 10%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 1) 60%,
    rgba(255, 255, 255, 0) 90%,
    rgba(255, 255, 255, 0) 100%);
}

ul {
  transform: translateY(-20px);
  margin: 0;
  padding: 0;
  font-size: 25px;
  li {
    border-style: groove;
    border-color: rgba(255,255,255,0);
    opacity: 1;
    height: 40px;
    list-style: none; 
    overflow: hidden;
    min-width: 0
  }
}

.animate {
  animation: scrollUp 10s 0.15s forwards;
}

.reset {
    transform: translateY(-20px);
}

.empty {
    border-style: none;
}

.content {
    display: flex;
    align-items: bottom;
    height: 100%;
    float: right;
    text-align:left;
    text-overflow: ellipsis;
    padding-left: 10px;
    width: 200px;
    background-color: rgb(255, 255, 255, 0.0125);
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scrollUp {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY((-4233px / $item-count) * ($item-count - 1));
  }
}