#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wheelDiv {
}

.songWheel {
    width: 100%;
}
.gaugeWheel {
    width: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.cleared {
    display: flex;
    text-align:left;
    width: 800px;
    font-size: 30px;
}

.clearedTitle {
    float: left;
    text-align: right;
    width: 200px;
    padding-right: 10px;
}

.clearedSongs {
    float: right;
    text-align: left;
    width: 590px;
    overflow: hidden;
    position: relative;
}

.failed {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    left: 25%;
    right: 25%;
}

.failedTitle {
    font-size: 20px;
    align-items: center;
}

.failedSongs {
    float: right;
    text-align: center;
    font-size: 30px;
    align-items: center;
}

.songOverflow {
    width: 590px;
    animation: songOverflow var(--clearSpeed) linear infinite;
    white-space: nowrap;
    position: absolute;
    padding-left: 100%;
}

@keyframes songOverflow {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-120%, 0);
  }
}
.actionButtons {
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
